{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $signingKey := promptStringOnce . "signingKey" "Public signing key path" -}}

[data]
    email = {{ $email | quote }}
    signingKey = {{ $signingKey | quote }}

[edit]
{{- if eq .chezmoi.hostname "SGSGPOLPM00E8MY" }}
    command = "code"
    args = ["-w"]
{{- else }}
    command = "subl"
    args = ["-n", "-w"]
{{- end }}
